@page "/songs"
<button type="button" class="btn btn-primary" @onclick="AddSong">Add Song</button>

<div class="container">

    <div class=" row row-cols-1 row-cols-md-3 g-4">

        @foreach (Song song in SongList)
        {
            <Entry Song="@song"></Entry>
        }

    </div>

</div>
@code {
    public List<Song> SongList { get; set; } = new();

    public void AddSong()
    {
        SongList.Add(new Song()
        {
            Id = 1,
            Chords = new List<Chord>() {
new Chord() { Id = 0, Tabs = new List<Tab>() { new Tab {Finger= 1, Fret = 2, String = 4 }, new Tab {Finger= 3, Fret = 3,
String = 5 }, new Tab{Finger= 2, Fret = 2, String = 6 }, }, Title = "D" },

new Chord(){ Id = 0, Tabs = new List<Tab>() { new Tab {Finger= 3, Fret = 2, String = 5 }, new Tab {Finger= 1, Fret = 2,
String = 4 }, new Tab {Finger= 2, Fret = 2, String = 3 },}, Title = "A" },

new Chord(){ Id = 0, Tabs = new List<Tab>() { new Tab {Fret = 3, String = 2 }, new Tab {Fret = 3, String = 5 }, new Tab
{Fret = 3, String = 6 },}, Title = "G" }
},
            Title = "End Of The Line",
            Artist = "Traveling Wilburys",
            StartDate = new DateTime(2021, 2, 5),
            Link = "https://open.spotify.com/track/4HA2jo7wkMdN1lmLO6ryzE?si=97c20c45ecd44569"
        });
    }
}